N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_ENCRYPTION_KEY=replace-with-local-dev-key
KIOSK_PUBLIC_PORT=5173
N8N_PUBLIC_PORT=5678
PRINTER_NAME=Brother_DCP_L3560CDW
PRINTER_URI=ipp://brother-dcp-l3560cdw.local/ipp/print
OLLAMA_BASE_URL=http://ollama.local:11434
